.info-label {
    min-width: 100px;
    max-width: 100px;
}

.region-fixed-destination-mode > QLineEdit,
.region-scaled-destination-mode > QLineEdit {
    max-width: 70px;
    min-width: 70px;
}

.fps {
    max-width: 40px;
    min-width: 40px;
}

.output-file-button {
    max-width: 80px;
    min-width: 80px;
}

.start-stop-button[running=true] {
    background-color: red;
}

.start-stop-button[running=false] {
    background-color: greenyellow;
}

.queue-size-bar:horizontal {
    border: 1px solid gray;
    border-radius: 3px;
    background: white;
    padding: 1px;
    text-align: right;
    margin-right: 7ex;
}

.queue-size-bar::chunk:horizontal {
    background: red;
    margin-right: 2px; /* space */
    width: 10px;
}